# .NET Core
.vs/
.vscode/
.idea/
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Refit Client
clientbin/
/SecureAccess.Api.Test/appsettings.json
